/*------------------------------------*\
    STYLE-AGILE
\*------------------------------------*/
/*
-----
aux.css overwrites and customizes general style.css
-----
GENERAL
HEADER
 $intro-statements
 $quotedArticleRightLeft
 $quotedArticleRight
 $illustratedParagraph (text on left/right)
 $single-column
persuasive-tells
is-puxm-right-for-you
single-column
table-layout
led-by-jared
roll-up-your-sleeves
expected-hours
this-intensive-won-t-happen-again-until-november
ready-to-do-this
FOOTER
I'll never try to be smarter with my CSS coding styles than Harry -> https://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

/* TEXT */
.txt-right-on-desktop {
    text-align: right;
}

/* QUOTE TEXT */
.heading-highlighted {
    font-family: league-gothic, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    background-color: #4e4e4e;
    color: #ffffff;
    display: inline;
    padding: 3px 10px;
    margin: 0;
    line-height: 1.45;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* ANCHOR */
.agile-a {
    color: #d8a739;
    font-weight: bold;
}

/* BUTTONS */
.btn-agile .cta {
    color: var(--white);
    text-decoration: none;
}

.btn-agile:hover .cta {
    color: var(--black);
}

.btn-yellow .cta {
    color: var(--black);
    text-decoration: none;
}

.btn-yellow:hover .cta {
    color: var(--black);
}

.btn-fill-agile {
    max-width: 100%;
    display: block;
}
/* PRICING */
.box-pricing {
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.pricing-box {
    position: relative;
}

.pricing-box .box-content {
    margin: 1.5em 0;
    padding-bottom: 50px;
    padding-top: 10px;
    border-top: 1px rgb(192, 189, 192) solid;
    display: block;
}

.box-content p,li {
    font-size: 1.1rem;
}

.pricing-box .box-head {
    min-height: 106px;
}

.pricing-box .btn,.btn-yellow {
    max-width: 100%;
    bottom: 0;
    left: .8em;
    right: .8em;
    margin-bottom: 2em;
    position: absolute;
}

/* MOBILE ORDER */

@media only screen and (max-width: 54em) {
    .column-reverse {
        flex-direction: column-reverse;
    }

    .view-on-desktop {
        display: none;
    }
}

@media only screen and (min-width: 54em) {
    .view-on-mobile {
        display: none;
    }
}