/*------------------------------------*\
    STYLE-AGILE
\*------------------------------------*/
/*
-----
aux.css overwrites and customizes general style.css
-----
GENERAL
HEADER
 $intro-statements
 $quotedArticleRightLeft
 $quotedArticleRight
 $illustratedParagraph (text on left/right)
 $single-column
persuasive-tells
is-puxm-right-for-you
single-column
table-layout
led-by-jared
roll-up-your-sleeves
expected-hours
this-intensive-won-t-happen-again-until-november
ready-to-do-this
FOOTER
I'll never try to be smarter with my CSS coding styles than Harry -> https://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

.heading-highlighted {
    font-family: league-gothic, sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    background-color: #4e4e4e;
    color: #ffffff;
    display: inline;
    padding: 3px 10px;
    margin: 0;
    line-height: 1.45;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.txt-right-on-desktop {
    text-align: right;
}

.agile-a {
    color: #d8a739;
    font-weight: bold;
}